{% load staticfiles %}

<html>
<head>
<title>{% block title %}Fabrinet{% endblock title %}</title>

<!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">-->

    <!-- Custom styles for this template -->
    <link href="{% static 'bootstrap/css/dashboard.css' %}" rel="stylesheet">



{% block extra_style %}{% endblock %}
</style>

<script>
{% block extra_js %}{% endblock extra_js %}
</script>

</head>
{% block extra_head %}{% endblock %}
<body {% spaceless %}
	{% block extra_body %}{% endblock extra_body %}
	{% endspaceless %}>
<div id="container">
<div class="header">
<h1>
{% block header %}{% endblock header %}
</h1>
</div>
{% block site_content %}{% endblock site_content %}
</div>

<!-- Bootstrap core JavaScript
    ================================================== -->

    <!-- Placed at the end of the document so the pages load faster -->
    <script href="{% static 'bootstrap/js/jquery.min.js' %}" ></script>
    <script href="{% static 'bootstrap/js/bootstrap.min.js' %}" ></script>
</body>
</html>